@model IEnumerable<FinalHerr.Models.Clase>

@{
    ViewData["Title"] = "Clases";
}

<h1>Listado de Clases</h1>

<p>
    <a asp-action="Create">Registrar Nueva Clase</a>
</p>

<form asp-controller="Clases" asp-action="Index" method="get">
    <p>
        <input type="text" name="Filtro" placeholder="nombre o código" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aula)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ClaseId">Editar</a>
                 <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ClaseId">Detalles</a>
                 <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClaseId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
